# Node.js dependencies
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist/
build/
tmp/
temp/

logs/
*.log
*.log.*

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.vscode/

.npm/

*.tsbuildinfo

.next/

*.tgz

.docker/

*.swp

coverage/

.eslintcache

yarn.lock

.vscode/
